/* Add a background color to the header element */

/* Add a fun background color to the main element */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */

/* div {
  background-color: #650dbe;
} */

#Myron {
  background-color: greenyellow;
  color: black;
}

.dobs {
  background-color: blue;
}

.dobs {
  background-color: yellow;
  color: black;
}

.login {
  font-size: 20px;
  border-radius: 100px;
}

.login:hover {
  font-size: 25px;
}
button {
  font-weight: bold;
}
